.technology-section {
  background-image: url("../../images/technology/background-technology-desktop.jpg");
  background-size: cover;
  height: 100vh;
}
@media (max-width: 768px) {
  .technology-section {
    background-image: url("../../images/technology/background-technology-tablet.jpg");
    height: 100%;
  }
}
@media (max-width: 576px) {
  .technology-section {
    background-image: url("../../images/technology/background-technology-mobile.jpg");
  }
}
.technology-section .head h3 {
  margin: 3rem;
  color: #fff;
  text-transform: capitalize;
}
.technology-section .head h3 span {
  color: #d0d6f9;
}
@media (max-width: 768px) {
  .technology-section .head h3 {
    margin: 1rem;
  }
}
@media (max-width: 576px) {
  .technology-section .head h3 {
    margin: 3rem 0;
    text-align: center;
  }
}
.technology-section .tec-box {
  display: flex;
}
.technology-section .tec-box .tec-box-info {
  margin: 30px 20px;
}
.technology-section .tec-box .tec-box-info .tec-box-links {
  display: flex;
}
.technology-section .tec-box .tec-box-info .tec-box-links a {
  border: 1px solid #d0d6f9;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 20px;
  color: #fff;
}
.technology-section .tec-box .tec-box-info .tec-box-links a:hover {
  text-decoration: none;
  border: 2px solid #fff;
}
.technology-section .tec-box .tec-box-info .tec-box-links a.active {
  background: #fff;
  color: #0b0d17;
  font-weight: bold;
}
.technology-section .tec-box .tec-box-info .tec-text {
  margin-left: 25px;
}
.technology-section .tec-box .tec-box-info .tec-text h3 {
  color: #d0d6f9;
  text-transform: capitalize;
}
@media (max-width: 576px) {
  .technology-section .tec-box .tec-box-info .tec-text h3 {
    font-size: 25px;
  }
}
.technology-section .tec-box .tec-box-info .tec-text h1 {
  color: #fff;
  text-transform: capitalize;
}
@media (max-width: 576px) {
  .technology-section .tec-box .tec-box-info .tec-text h1 {
    font-size: 33px;
    margin: 15px 0;
  }
}
.technology-section .tec-box .tec-box-info .tec-text p {
  color: #d0d6f9;
  text-transform: capitalize;
  width: 60%;
}
@media (max-width: 900px) {
  .technology-section .tec-box .tec-box-info .tec-text p {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .technology-section .tec-box .tec-box-info .tec-text p {
    text-align: center;
  }
}
.technology-section .tec-box .tec-box-img {
  background-size: cover;
  width: 515px;
  height: 527px;
}
.technology-section .tec-box .tec-box-img.launch {
  background-image: url("../../images/technology/image-launch-vehicle-portrait.jpg");
}
.technology-section .tec-box .tec-box-img.spaceport {
  background-image: url("../../images/technology/image-spaceport-portrait.jpg");
}
.technology-section .tec-box .tec-box-img.space {
  background-image: url("../../images/technology/image-space-capsule-portrait.jpg");
}
@media (max-width: 768px) {
  .technology-section .tec-box .tec-box-img {
    width: 100%;
    height: 310px;
  }
  .technology-section .tec-box .tec-box-img.launch {
    background-image: url("../../images/technology/image-launch-vehicle-landscape.jpg");
  }
  .technology-section .tec-box .tec-box-img.spaceport {
    background-image: url("../../images/technology/image-spaceport-landscape.jpg");
  }
  .technology-section .tec-box .tec-box-img.space {
    background-image: url("../../images/technology/image-space-capsule-landscape.jpg");
  }
}
@media (max-width: 768px) {
  .technology-section .tec-box {
    flex-direction: column;
  }
  .technology-section .tec-box .tec-box-info {
    order: 2;
  }
  .technology-section .tec-box .tec-box-info .tec-box-links {
    justify-content: center;
  }
  .technology-section .tec-box .tec-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin: 40px 0;
  }
}

/*# sourceMappingURL=main.css.map */
