.destination-section{
    background-image: url("../../images/destination/background-destination-desktop.jpg");
    background-size: cover;
    height: 100vh;
    @media (max-width: 768px){
        background-image: url("../../images/destination/background-destination-tablet.jpg");
    }
    @media (max-width: 576px){
        background-image: url("../../images/destination/background-destination-mobile.jpg");
        height: 100%;
    }
    h3{
        margin: 3rem;
        color: #fff;
        text-transform: capitalize;
        span{
            color: #d0d6f9;
        }
        @media (max-width: 768px){
            margin: 1rem;
        }
        @media (max-width: 576px){
            margin: 3rem 0;
            text-align: center;
        }
    }
    .des-box{
        margin-top: 60px;
        .planet{
            text-align: center;
            margin-bottom: 40px;
            img{
                width: 70%;
            }
        }
        .planet-info{
            color: #fff;
            .links{
                display: flex;
                justify-content: space-evenly;
                .link{
                    a{
                        padding: 10px;
                        font-size: 21px; 
                        color: #fff;
                        text-transform: uppercase;
                        font-weight: 300;
                        &.active{
                            border-bottom: 2px solid #d0d6f9;
                            font-size: 24px;
                            font-weight: 500;
                        }
                        &:hover{
                            text-decoration: none;
                        }
                    }
                }
            }
            .info{
                h1{
                    font-size: 75px;
                    margin: 1rem 0;
                    text-transform: uppercase;
                    @media (max-width: 576px){
                        text-align: center;
                    }
                }
                p{
                    text-transform: capitalize;
                    padding: 10px 120px 10px 0;
                    @media (max-width: 990px){
                        padding: 15px 0;
                    }
                }
            }
            hr{
                background: #d0d6f9;
            }
            .planet-space{
                display: flex;
                justify-content: space-around;
                text-transform: uppercase;
                margin: 2rem 0;
                .km{
                    p{
                        color: #d0d6f9;
                    }
                    h4{
                        color: #fff;
                    }
                }
                .day{
                    p{
                        color: #d0d6f9;
                    }
                    h4{
                        color: #fff;
                    }
                }
                @media (max-width: 900px){
                    justify-content: space-between;
                }
                @media (max-width: 576px){
                    justify-content: space-around;
                    margin: 4rem 0;
                }
            }
        }
        @media (max-width: 768px){
            margin-top: 30px;
        }
    }
}